.about{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  color: var(--color-secondary)
}

.sub-title{
  font-weight: 600;
  font-size: 20px;
}

.intro-text{
  font-size: 18px;
  font-weight: 200;
  text-align: justify;
}

.name{
  font-size: 36px;
  font-weight: 800;
  color: var(--color-secondary)
}

@media only screen and (max-width: 1024px) {

  .name{
    font-size: 32px;
  }

  .sub-title{
    font-size: 16px;
  }

  .intro-text{
    font-size: 14px;
  }
}

@media only screen and (max-width: 768px) {

  .name{
    font-size: 30px;
  }

  .sub-title{
    font-size: 14px;
  }

  .intro-text{
    font-size: 12px;
  }
}

@media only screen and (max-width: 680px) {

  .about{
    align-items: center;
    width: 100%;
  }

}

@media only screen and (max-width: 425px) {

  .about{
    align-items: center;
    width: 100%;
  }

  .name{
    font-size: 28px;
  }

}

@media only screen and (max-width: 375px) {

  .about{
    align-items: center;
    width: 100%;
  }

  .name{
    font-size: 22px;
  }

}

