.card-craft-styles{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 0.2rem solid var(--color-secondary);
    border-radius: 24px;
    padding: 2rem;
    width: 30%;
}

.card-craft-styles:hover {
    background-color: var(--color-secondary);
    cursor: pointer;
} 

.card-craft-styles:hover .text-craft-styles h1,
.card-craft-styles:hover .text-craft-styles p {
    color: var(--color-primary)
} 

.text-craft-styles{}

.text-craft-styles h1{
    color: var(--color-secondary);
    text-align: center;
    font-size:clamp(16px, 2.7vw, 32px);
}

.text-craft-styles p{
    color: var(--color-secondary);
    text-align: justify;
    font-size:clamp(10px, 2.7vw, 16px);
}

.logo-craft{

}

@media only screen and (max-width: 1024px) {

    .card-craft-styles{
    width: 40%;
}

    .logo-craft{
    width: 150px !important;
    height: 150px !important;
}
}

@media only screen and (max-width: 860px) {

    /* .text-craft-styles h1{
        font-size: 24px;
    }

    .text-craft-styles p{
        font-size: 14px;
    } */

    .logo-craft{
    width: 120px !important;
    height: 120px !important;
}
}

@media only screen and (max-width: 680px) {

    .card-craft-styles{
        width: 90%;
    }

}

@media only screen and (max-width: 425px) {

    .card-craft-styles{
        width: 90%;
    }

    .logo-craft{
    width: 80px !important;
    height: 80px !important;
}
}

@media only screen and (max-width: 375px) {


    /* .text-craft-styles h1{
        font-size: 20px;
    }

    .text-craft-styles p{
        font-size: 12px;
    } */

    .logo-craft{
    width: 70px !important;
    height: 70px !important;
}
}

@media only screen and (max-width: 320px) {


    /* .text-craft-styles h1{
        font-size: 18px;
    }

    .text-craft-styles p{
        font-size: 10px;
    } */

    .logo-craft{
    width: 60px !important;
    height: 60px !important;
}
}