.video-craft-category-widget-main{
    border: 2px solid var(--color-secondary);
    border-radius: 20px;
    padding: 10px 18px;
    font-size: 14px;
    color: var(--color-secondary);
    font-weight: 600;
    flex: 0 0 auto; 
    scroll-snap-align: start;
    white-space: nowrap;
}

.video-craft-category-widget-main:hover {
    cursor: pointer;
}

.video-craft-category-widget-main.selected {
  background-color: var(--color-secondary);
    color: var(--color-primary);
}

@media only screen and (max-width: 425px) {
    .video-craft-category-widget-main {
        font-size: 12px;
        padding: 8px 16px;
    }
}